{% extends "base.html" %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <form method="post" class="form-signin">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required>
        </div>
        <div class="form-group d-flex">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
        </div>
    </form>
</div>
{% endblock content %}
